/* app.css */

/* تغيير الخلفية الرئيسية */
body {
  background-color: #1a202c; /* لون داكن يتناسب مع عناصر الكارد (gray-900) */
  color: white; /* لون النص الافتراضي */
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
